<template lang="pug">
    v-app
        .headers
            h1 Mon livre de recettes

        .global
            .left-menu
                .containers
                    div(@click="Recette")
                        .btn-menu Livre de Recette
                    div(@click="Menu")
                        .btn-menu Menu Actuel
                    div(@click="Course")
                        .btn-menu Liste de Course

            div
                .current_page
                    div(v-if="courseAffichage")
                        .list-item
                            v-card(class="mx-auto"
                                max-width="600"
                                tile)
                                div(v-for="menu in menus" )
                                    v-list-item(v-for="ingredient in menu.ingredients" v-if="menu.onMenu")
                                        v-list-item-content
                                            v-list-item-title {{ingredient.nom}} - {{ingredient.quantite}}

            div
                .current_page
                    div(v-if="MenuAffichage")
                        div(v-for="menu in menus")
                            v-card( v-if="menu.onMenu")
                                v-card-title
                                    div(class="title") {{menu.title}}
                                v-card-subtitle
                                    h4 {{menu.recipe}}
                            br

            div
                .current_page
                    div(v-if="recetteAffichage")
                        v-btn#v-btn(@click="openForm") AJOUTER UNE RECETTE
                        v-sheet(v-if="formOn" :elevation="20"
                            color="grey lighten-3"
                            class="mx-auto"
                            height="600"
                            width="700")
                            v-form
                                v-container
                                    v-row
                                        v-col(cols="12" md="12")
                                            v-text-field(v-model="input.title" :counter="10"
                                                label="Nom de la Recette")
                                            v-text-field(v-model="input.recipe" :counter="10"
                                                label="Description de la Recette")
                                            p   Ingredients
                                            v-btn(text color="primary" @click="inputIngredient=true" v-if="!inputIngredient") Ajouter un ingredient +
                                            v-row(v-if="inputIngredient")
                                                v-col(md="6")
                                                    v-text-field(v-model="ingredientsNom" :counter="10"
                                                        label="Nom de l'ingredient")
                                                v-col(md="6")
                                                    v-text-field(v-model="ingredientsQuantite" :counter="10"
                                                        label="Quantité")
                                            v-btn(@click="AddIngredients" v-if="inputIngredient") Ajouter L'ingredient
                                            v-row(v-if="input.ingredients.length > 0")
                                                v-col(md="12")
                                                    v-simple-table
                                                        thead
                                                            tr
                                                                th Nom
                                                                th Quantite
                                                        tbody
                                                            tr(v-for="ingredient in input.ingredients" :key="ingredient.nom")
                                                                td {{ingredient.nom}}
                                                                td {{ingredient.quantite}}
                                                v-btn(@click="addRecipe" color="teal accent-3") Ajouter la recette



                        div(v-for="(menu,index) in menus" class="card")
                                v-card(style="background-color:aquamarine" v-if="menu.onMenu")
                                    v-card-title
                                        div(class="title") {{menu.title}}
                                    v-card-subtitle
                                        h4 {{menu.recipe}}
                                    v-card-text
                                        span(v-for="ingredient in menu.ingredients")  {{ingredient.nom}} - {{ingredient.quantite}}
                                    v-card-actions
                                        v-btn(class="button_card" color="error" @click="leaveToMenu(index)")   Retirer du Menu
                                br
                                v-card( v-if="menu.onMenu === false")
                                    v-card-title
                                        div(class="title") {{menu.title}}
                                    v-card-subtitle
                                        h4 {{menu.recipe}}
                                    v-card-text
                                        span(v-for="ingredient in menu.ingredients")  {{ingredient.nom}} - {{ingredient.quantite}}
                                    v-card-actions
                                        v-btn(class="button_card" color="primary"  @click="addToMenu(index)")   Ajouter au menu
                                br


</template>
<script>

    import {recipe} from '/collections/Recipes'
    import counter from './Counter'
    export default {
        components: {counter},
        data() {
            return {
                courseAffichage: false,
                MenuAffichage: false,
                recetteAffichage: true,
                inputIngredient: false,
                inputIterationIngredients: 0,
                formOn: false,
                ingredientsNom: "",
                ingredientsQuantite: null,
                input: {title: "", recipe: "", ingredients: [], onMenu:false},
                menus: [
                    {
                        title: "Shrimp Tacos",
                        recipe: "Il faut manger Gras et salé",
                        ingredients: [{nom: "Saumon", quantite: "50"}, {nom: "Thon", quantite: "50"}, {
                            nom: "Viande",
                            quantite: "50"
                        }],
                        onMenu: true,
                    },
                    {
                        title: "Burger Tacos",
                        recipe: "Il faut manger Salouche et salé",
                        ingredients: [{nom: "Saumon", quantite: "50"}],
                        onMenu: false,
                    },
                    {
                        title: "Test Tacos",
                        recipe: "Il faut manger sucré et Salva",
                        ingredients: [{nom: "Saumon", quantite: "50"}],
                        onMenu: false,
                    },
                    {
                        title: "Pizza Tacos",
                        recipe: "Il faut manger salut et salé",
                        ingredients: [{nom: "Saumon", quantite: "50"}],
                        onMenu: true,
                    },
                ],
                date: new Date(),
            };
        },
        mounted() {
            if(!localStorage.getItem("menu")){
                const parsed = JSON.stringify(this.menus)
                localStorage.setItem("menu",parsed)
            }
            this.menus = JSON.parse(localStorage.getItem("menu"));
            // console.log(Recipes.find({inMenu: true}));
        },
        methods: {

            addToMenu(index){
                this.menus[index].onMenu= true
                const parsed = JSON.stringify(this.menus)
                localStorage.setItem("menu",parsed)

            },

            leaveToMenu(index){
                this.menus[index].onMenu= false
                const parsed = JSON.stringify(this.menus)
                localStorage.setItem("menu",parsed)

            },

            modifClass(value) {
                if (value.onMenu) {
                    return {"onMenu": true}
                }
            },
            Course() {
                this.MenuAffichage = false;
                this.recetteAffichage = false;
                this.courseAffichage = true;
            },
            Menu() {
                this.MenuAffichage = true;
                this.recetteAffichage = false;
                this.courseAffichage = false;
            },
            Recette() {
                this.MenuAffichage = false;
                this.recetteAffichage = true;
                this.courseAffichage = false;
            },
            addRecipe() {
                const variable = this.input
                console.log(variable);
                this.menus.push(variable);
                const parsed = JSON.stringify(this.menus)
                localStorage.setItem("menu",parsed)
                console.log(this.menus);

                this.formOn = false
            },
            AddIngredients() {
                const ingredient = {nom: this.ingredientsNom, quantite: this.ingredientsQuantite}
                this.input.ingredients.push(ingredient)
                this.ingredientsNom = ""
                this.ingredientsQuantite = null
                this.inputIngredient = false
            },
            openForm() {
                this.input.title = ""
                this.input.recipe = ""
                this.input.ingredients = []
                this.formOn = true
            },
            test() {
                console.log("test")
            }
        }
    }
</script>

<style scoped>
    span {
        font-size: 2em;
        text-align: center
    }

    .card {
        margin-top: 20px;
    }

    .title {
        font-size: 2em !important;
        opacity: 0.3;
        border-bottom: rgba(0, 0, 0, 0.3) solid 3px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    p {
        font-size: 2em;
        text-align: center;
    }

    .button_card {
        margin: 0 0 10px 10px;
    }
</style>
