body
  padding: 10px
  font-family: sans-serif
  height:100%
  width: 100%

.headers
    width: 100%
    height 160px
    background-color rgba(82,68,99,1)
    padding 10px 30px
    font-size 25px
    box-shadow: 0px 5px 5px black
    z-index: 2

    h1
        color: white
        text-align left

.global
    width: 100%

.left-menu
    height: 100%
    width: 400px
    height: 100%
    position: fixed
    top 5px
    left: 10px
    margin-top 5px
    background-color rgba(55,49,66,1)
    z-index: 1
    overflow-x: hidden

.left-menu .containers
    width 100%
    display: flex
    flex-direction: column
    margin-top 180px

.left-menu .containers .btn-menu
    color white
    padding 20px 0px
    text-align center
    font-size 30px

.left-menu .containers .btn-menu:hover
    background-color: rgba(82,68,99,1)
    border-left: 10px rgba(137,217,215,1) solid

.mx-auto{
    margin-top : 40px !important
}

list-item{
    margin-top : 500px
}

.current_page
    margin-left: 400px

.current_page #v-btn
    background-color: rgba(55,49,66,1) !important
    color: white
    display: block
    margin: auto
    margin-top: 50px
    padding: 8px 13px
    font-size: 20px
    font-weight: bold

.card
    margin-top: 20px

.title
    font-size: 2em !important
    opacity: 0.3
    border-bottom: rgba(0, 0, 0, 0.3) solid 3px
    margin-top: 0
    margin-bottom: 10px

p
    font-size: 2em
    text-align: center

.button_card
    margin: 0 0 10px 10px

.falseRecipe{
    background-color aquamarine
}
