<template name="ShoppingList">
    <h1 class="page-title">My Shopping List</h1>
    <ul class="shopping-list">
        <!-- {{#each shoppingList}}
        {{#each ingredients}} -->
        <li>{{name}} - <span class="amount">{{amount}}</span></li>
        <!--  {{/each}}
         {{else}}-->
         <li>Please add <a href="/recipe-book">recipes</a> to your menu</li>
        <!--  {{/each}} -->
     </ul>
 </template>


 <template name="ShoppingListItem">
 </template>