<template name="HomeLayout">
    <!-- {{> Header}} ICI ON MET LE COMPOSANT HEADER FRR -->
    <main>
        <div class="billboard">
            <h2>Organize Your Meals</h2>
        </div>
    </main>
</template>