<template name="MainLayout">
    <!-- {{> Header}} COMPOSANT HEADER -->
     <!--{{> SideNav}} COMPOSANT BARRE NAV -->
     <main class="main-layout">
         <!--  {{> Template.dynamic template=main}} Je sais pas sque c frr-->
       </main>
</template>